<style>
    .corpo{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: bisque;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .portifolio{
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
        height: 50vh;
        border: 1px solid black;
        overflow: hidden;
        text-align: center;
    }
    div{
        margin: auto;
        width: 80px;
        height: 80px;
        border: 1px solid black;
        border-radius: 50%;
        background-image: url(img/micaojakson.jpg);
        background-size: cover;
        background-position: center;
    }

    p, a{
        overflow-wrap: break-word;
        text-align: center;
        margin: 7px;
    }

    a:hover{
        background-color: blue;
    }
   
</style>

<section class="corpo">
    <section class="portifolio">
        <div>
        </div>
    
        {{#each posts}}
    
            <h2>{{nome}}</h2>
            <p>{{biografia}}</p>
            <p>{{email}}</p>
            <a target="_blank" href={{facebook}}><i class='bx bxl-facebook'></i> Facebook</a>
            <a target="_blank" href={{instagram}}><i class='bx bxl-instagram' ></i> Instagram</a>
            <a target="_blank" href={{youtube}}><i class='bx bxl-youtube' ></i> YouTube</a>
            <a target="_blank" href={{spotify}}><i class='bx bxl-spotify'></i> Spotify</a>
            <a target="_blank" href={{linkedin}}><i class='bx bxl-linkedin' ></i> Linkedin</a>
    
        {{/each}}
    </section>
</section>