<style>
    .corpo{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #CDD5C6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Quicksand", sans-serif;
       
    }
    .portifolio{
        background-color: #B7BCBF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 550px;
        min-height: 75vh;
        overflow: hidden;
        text-align: center;
        
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.699);
         color: #000000b2;
    }
    div.avatar{
        margin: auto;
        margin-top: 80px;
        margin-bottom: 30px;
        width: 130px;
        height: 130px;
        border-radius: 10%;
        background-image: url(img/avatares/13.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;   
    }

    p, a{
        overflow-wrap: break-word;
        text-align: center;
        margin: 4px;
        border: none;
        
    }

    a:hover{
        background-color: rgba(255, 255, 255, 0.336);
        backdrop-filter: blur(3px);
        border-radius: 20px;
        
    }
    div.redes{
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 30px;
        font-size: 30pt;
    }
    a{
       color: #000000b2;
       text-shadow: 0px 1px 1px rgba(148, 124, 102, 0.76);
    }
    h2{
        text-shadow: 0px 1px 2px rgba(148, 124, 102, 0.76);
    }
</style>

{{!-- icones --}}
{{!-- https://fontawesome.com/ --}}
{{!-- https://boxicons.com --}}


<section class="corpo">
    <section class="portifolio">
        <div class="avatar"> </div>
    
        {{#each posts}}
    
            <h2>{{nome}}</h2>
            <p>{{biografia}}</p>

            <div id="res">
                {{!-- campos de interesse --}}
                <p>{{esporte}} {{musica}} {{filme}} {{series}} {{anime}} {{praia}} 
                    {{natureza}}</p>
            </div>
            
            <div class="redes">
                <a target="_blank" href={{email}}><i class='bx bxs-envelope' ></i></a>
                <a target="_blank" href={{facebook}}><i class='bx bxl-facebook'></i> </a>
                <a target="_blank" href={{instagram}}><i class='bx bxl-instagram-alt'></i> </a>
                <a target="_blank" href={{youtube}}><i class="fa-brands fa-square-whatsapp"></i></a>
                <a target="_blank" href={{spotify}}><i class='bx bxl-twitter'></i> </a>
                <a target="_blank" href={{linkedin}}><i class='bx bxl-linkedin' ></i> </a>
            </div>
        {{/each}}
    </section>

    <script src="../controllers/main.js" type="module" defer></script>
</section>